@font-face {
    font-family: Comunica;
    src: url('../font/COMUNICA_TYPE.ttf');
}

@font-face {
    font-family: Comfortaa;
    src: url('../font/Comfortaa-Regular.ttf');
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body {
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    letter-spacing: 2px;
}

body.loaded #title_text
{  
    margin: 30px 0px 0px 0px;   
    letter-spacing: 3px;        
}

#top_bar 
{ 
	position: relative;
	overflow: hidden;
    background-color:#424249;
    height:100px; 
}

#title_text 
{  
    margin: -100px 0px 0px 0px;
	color: orange;
    font-weight:bold;
    font-family: Comfortaa;
    font-size: 48px;
    letter-spacing: 20px;
    -o-transition: 1.5s;
    -ms-transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;    
    transition: 1.5s;        
}

body #title_text:hover
{
    margin: -100px 0px 0px 0px;   
    letter-spacing: 20px;  
}

#prompt 
{
    border:0px dashed;
    border-radius: 25px;
    height:30px;
    width:400px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    font-family: Comunica;
    font-size: 24px;
    font-weight: bold;
}

#game_screen 
{
    border:0px dashed;
    border-radius: 25px;
    height:300px;
    width:400px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
} 

#coin_display
{
    position: relative;
    top: 1%;
    font-family: Comunica;
    font-weight: bold;
    font-size: 24px;
    color: orange;
}

table
{
    margin-top: 50px;
    margin-left: 10px;
    table-layout: fixed;
    border: 0px solid navy;
    width: 95%;
    height: 60%;
} 

td.gradeTop
{ 
    border: 10px solid none;
    border-radius: 90px;
    background:linear-gradient(to bottom, rgba(0,0,0,.07) 0%,rgba(0,0,0,0) 16%);
    background:-webkit-linear-gradient(to bottom, rgba(0,0,0,.07) 0%,rgba(0,0,0,0) 16%);
    background:-o-linear-gradient(to bottom, rgba(0,0,0,.07) 0%,rgba(0,0,0,0) 16%);
    background:-moz-linear-gradient(to bottom, rgba(0,0,0,.07) 0%,rgba(0,0,0,0) 16%);
}

td.gradeBot 
{    
    border: 10px solid none;
    border-radius: 90px;
    background:linear-gradient(to top, rgba(0,0,0,.07) 0%,rgba(0,0,0,0)16%);
    background:-webkit-linear-gradient(to top, rgba(0,0,0,.07) 0%,rgba(0,0,0,0) 16%);
    background:-o-linear-gradient(to top, rgba(0,0,0,.07) 0%,rgba(0,0,0,0) 16%);
    background:-moz-linear-gradient(to top, rgba(0,0,0,.07) 0%,rgba(0,0,0,0) 16%);
}

#input_area 
{ 
    border:0px solid;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

#input
{
    border:2px solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-color: #333366; 
    background-color: #FFFFFF; 
    text-align:center;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

#button_area 
{
    border:0px solid;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
} 

#button 
{
    margin-right:auto;
    margin-left:auto;
    width:100px;
    height: 25px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-color: #333366; 
    background-color: #FFFFFF; 
    outline: 0 none;
    font-family: Comunica;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

#title_text, #title_text:hover, #prompt, #game_screen, #coin_display, #input, #button_area
{
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;   
}