body {
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}
#top_bar 
{
	position: relative;
	overflow: hidden;
    background-color:#424249;
    height:100px; 
}
#title_text
{
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -55px;
	color: orange;
    font-weight:bold;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-size: 40px;
}

#prompt 
{
    border:1px dashed;
    border-radius: 25px;
    height:30px;
    width:550px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}
#prompt_text
{

}
#game_screen 
{
    border:1px dashed;
    border-radius: 25px;
    height:300px;
    width:400px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
} 
#coin_display
{
    position: relative;
    top: 1%;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-weight: bold;
    color: orange;
}
table
{
    margin-top: 10px;
    table-layout: fixed;
}   
tr, td
{
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    border: 2px solid navy;
    border-collapse: separate;
    border-radius: 25px;
    padding: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0 auto;
    height: 40px;
}
#winnings_prompt
{
    margin-top: 10px;
    height: 28%;
}
#input_area 
{
    border:0px solid;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}
#button_area 
{
    border:0px solid;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
} 
#button 
{
    margin-right:auto;
    margin-left:auto;
    width:100px;
    height: 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: 0 none;
}