@font-face {
    font-family: Comunica;
    src: url('../font/COMUNICA_TYPE.ttf');
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
body {
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    letter-spacing: 2px;
}
#top_bar 
{
	position: relative;
	overflow: hidden;
    background-color:#424249;
    height:100px; 
}
#title_text
{
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */    
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -55px;
	color: orange;
    font-weight:bold;
    font-family: Comunica;
    font-size: 60px;
    letter-spacing: 3px;
}
#prompt 
{
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    border:0px dashed;
    border-radius: 25px;
    height:30px;
    width:400px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    font-family: Comunica;
    font-size: 24px;
    font-weight: bold;
}
#game_screen 
{
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    border:0px dashed;
    border-radius: 25px;
    height:300px;
    width:400px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
} 
#coin_display
{
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    position: relative;
    top: 1%;
    font-family: Comunica;
    font-weight: bold;
    font-size: 24px;
    color: orange;
}
table
{
    margin-top: 50px;
    margin-left: 10px;
    table-layout: fixed;
    border: 0px solid navy;
    width: 95%;
    height: 60%;
}   

td.gradeTop
{ 
    border: 10px solid none;
    border-radius: 20px;
    background:linear-gradient(to bottom, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 25%);
    background:-webkit-linear-gradient(to bottom, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 25%);
    background:-o-linear-gradient(to bottom, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 25%);
    background:-moz-linear-gradient(to bottom, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 25%);
}

td.gradeBot 
{    
    border: 10px solid none;
    border-radius: 20px;
    background:linear-gradient(to top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0)25%);
    background:-webkit-linear-gradient(to top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 25%);
    background:-o-linear-gradient(to top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 25);
    background:-moz-linear-gradient(to top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 25%);
}


#input_area 
{ 
    border:0px solid;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

#input
{
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */    
    border:2px solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-color: #333366; 
    background-color: #FFFFFF; 
    text-align:center;
    font-family: Comunica;
    font-weight: bold;
    font-size: 20px;
}
#button_area 
{
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */    
    border:0px solid;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
} 
#button 
{
    margin-right:auto;
    margin-left:auto;
    width:100px;
    height: 25px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-color: #333366; 
    background-color: #FFFFFF; 
    outline: 0 none;
    font-family: Comunica;
    font-weight: bold;
    font-size: 18px;
}